<% include ../partials/header %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome To The Running Diary</h1>
    <p class="lead">Hello <%= currentUser.username %></p>
    <a href="/profiles/new" class="btn btn-outline-secondary">Create Profile</a>
  </div>
</div>

<% include ../partials/footer %>