<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Create Your Profile</h1>
    <div style="width: 30%; margin: 25px auto">
      <form action="/profiles" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input class="form-control" type="text" name="profile[name]" placeholder="name" required>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="profile[bio]" placeholder="tell us about your goals..."></textarea>
        </div>
        <div class="form-group">
          <label for="profileImg">Image</label>
          <input class="form-control" type="file" id="image" name="profileImg" accept="image/*">
        </div>
        <div class="form-group">
          <h4>Personal Bests</h4>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Distance
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" id="mile" href="#">1 mile</a>
              <a class="dropdown-item" id="fivek" href="#">5km</a>
              <a class="dropdown-item" id="tenk" href="#">10km</a>
              <a class="dropdown-item" id="halfm" href="#">Half Marathon</a>
              <a class="dropdown-item" id="fullm" href="#">Marathon</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="raceTime">Race Time: </label>
          <input id="raceTime" type="time" name="raceTime" step="2">
          <button type="button" id="timeButton" class="btn btn-outline-dark">Add</button>
        </div>
        <div class="form-group">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Distance</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="/scripts/create_profile.js"></script>
<% include ../partials/footer %>