.loginForm {
  padding-left: 1vw;
}

.signupForm {
  padding-left: 1vw;
}

.btn {
  opacity: 0.75;
  border-style: solid;
}

/* #raceTime {
  display: inline;
} */

/* .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
} */

#username {
  color: #85e085;
}

#profile-img img {
  width: 128px;
  margin: 10px;
  border: 5px solid 85e85;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#bio {
  border: 5px solid #85e085;
}
